<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark ">
        <div class="container-fluid">
            <a class="navbar-brand d-md-none" href="#">
                Speelgoed Dokter
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto navigation-list">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/doctorlist">Doctors</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/repair">Repair</a>
                    </li>

                    <a class="navbar-brand d-none d-md-block" href="/home">
                        Toydoctor
                    </a>

                    <li class="nav-item">
                        <a class="nav-link">Contact Us</a>
                    </li>

                    <li class="nav-item">
                        <a  class="nav-link" href="/donation">Donate</a>
                    </li>


                      <div th:if="${loginName == 'NOBODY'}" class="d-flex">
                          <li class="nav-item"  >
                              <form th:action="@{/user/login}" method="post">
                                  <button  class="nav-link btn btn-outline-light login-btn" type="submit">Login</button>
                              </form>
                          </li>

                          <li class="nav-item">
                              <button type="button" class="nav-link btn btn-outline-light register-btn">Register</button>
                              <form th:action="@{/user/signup}" method="get">
                              <button type="submit" class="nav-link btn btn-outline-light">Register</button>
                              </form>
                          </li>

                      </div>



                            <div th:unless="${loginName == 'NOBODY'}" >


                        <li  class="nav-item">
                            <div class="dropdown">

                                <button class="btn btn-donate btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <img th:src="${img}" alt="hugenerd" width="28" height="28" class="rounded-circle">
                                    <span th:text="|${loginName}|"></span>
                                </button>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="my-profile text-decoration-none" th:href="@{'user/dashboard/' + ${id}}">My Profile</a>
                                    <a class="my-profile text-decoration-none" >Reservations</a>
                                    <div><hr class="dropdown-divider"></div>
                                    <form th:action="@{/user/logout}" method="post">
                                        <button  class="btn  logout-btn" type="submit">Logout</button></form>
                                </div>
                            </div>
                        </li>
                            </div>





                </ul>
            </div>
        </div>
    </nav>
</div>






</body>
</html>