<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    Bootstrap CSS Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--    Bootstrap JS Link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <!--    CSS Link-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <!--    Google Fonts Link of Navbar-Brand -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">

    <!--Font Awesome Link    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Dashboard</title>




</head>


<body>

<!--Navbar-->
<div th:replace="~{fragments/navbar :: header}">Hier komt de navbar</div>

<!--Modal-->
<div class="modal fade" id="modalAbout" tabindex="999999" aria-labelledby="modalAboutLabel" aria-hidden="true" data-bs-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAboutLabel">About</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" th:action="@{|/dashboard/profile/${appUser.id}/edit|}"  id="text-area">
                    <textarea id="descriptionEdit" th:text="${appUser.shortDescription}" th:value="${appUser.shortDescription}" name="shortDescription" rows="6" cols="50"></textarea>
                    <div class="modal-footer">
                        <button type="button" class="btn  btn-secondary close-btn" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Save Changes" class="btn-edit btn-primary mx-auto">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--Page Opening Divs-->
<div class="container overflow-hidden profile-page ">
    <div class="row  vh-100 overflow-auto mt-5">

<!--        Sidebar-->
        <div class="col-10 col-md-5 col-lg-3  mx-auto mb-3 px-sm-2 px-0 d-flex  profile-div mt-4  ">
            <div class="d-flex flex-column align-items-center text-center pt-2 ">
                <div>
                    <img th:src="${appUser.imageUrl != null ? appUser.imageUrl : 'https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg'}" alt="imageUrl" width="200" height="200" class="rounded-circle mt-3 ">
                </div>

                 <div class="justify-content-center text-center mt-2">
                    <h4 class="text-center text-black" th:text="|${appUser.firstName} ${appUser.lastName}|"></h4>
                 </div>

                <div class="justify-content-center text-center mt-2">
                    <h6 class="text-center profile-page-text" th:text="${appUser.job}"></h6>
                </div>

                <div class="summary p-1 rounded mt-4 mb-5 mx-3 text-left">
                    <h6 class="text-white text-left">Age:<span class="text-light" th:text="${age}"></span></h6>
                    <h6 class="text-white text-left">Location:<span class="text-light" th:text="${appUser.city}"></span></h6>
                    <h6 class="text-white text-left">Mail:<span class="text-light" th:text="${appUser.email}"></span></h6>
                    <h6 class="text-white text-left">Phone Number:<span class="text-light" th:text="${appUser.phone}"></span></h6>
                </div>
            </div>
        </div>

<!--    Description Bio & Edit Profile-->
        <div class="col-10 col-md-5 mx-auto col-md-3 col-lg-4 bio-div mt-4 p-3">

            <div class="d-flex justify-content-between">
                   <h4 class="text-left">About</h4>
                   <a type="button" class="text-black" data-bs-toggle="modal" data-bs-target="#modalAbout"><i class="fa-solid fa-pen fa-lg"></i></a>
            </div>

              <div th:if="${appUser.shortDescription}">
                <h6 class="mt-3" th:text="${appUser.shortDescription}" ></h6>
              </div>

              <div th:unless="${appUser.shortDescription}">
                  <h6 class="mt-3">Tell us about yourself</h6>
              </div>





            <h4 class="text-left mt-5">Edit your profile information</h4>
                    <a th:href="@{'/dashboard/editProfile/' + ${appUser.id}}">
                        <button type="button" class="btn-edit btn-primary mx-auto btn-lg">Edit</button>
                    </a>
        </div>


<!--        Show Reservation & New Reservation-->
                <div class="col-10 mx-auto col-md-8 col-lg-4 reservation-div mt-4 mx-md-auto p-3" style="z-index: 0">
                    <h4 class="text-left">Approve or cancel your reservations via our reservation dashboard system</h4>
                    <a th:href="@{'/dashboard/myAppointments/' + ${appUser.id}}">
                        <button type="button" class="btn-reservation btn-primary mx-auto "> Show your reservations</button>
                    </a>

                    <h4 class="text-left mt-5">Make a reservation 7/24  via our online reservation system.</h4>
                    <a href="/doctorlist">
                        <button type="button" class="btn-reservation btn-primary mx-auto ">Make a new reservation</button>
                    </a>
                </div>

        <!--   Page Closing Divs -->
        </div>
    </div>
















<!--Footer-->
<div th:replace="~{fragments/footer :: footer}"></div>



<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





<script src="/JS/toys.js"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DZDTTXJS6F');
</script>


</body>
</html>