@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

/*//============ACHTERGROND SPEELGOED//============//============*/
/*body {*/
/*    overflow-x: hidden;*/
/*    background-color: #8EC5FC;*/
/*    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);*/

/*}*/

body {
    overflow-x: hidden;
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}


.toy {
    /*position: absolute;*/
    opacity: 0.5;
    display: block;
    width: 200px;
    height: 200px;
    /*background-size: contain;*/
    animation: float 6s ease-in-out infinite;
    pointer-events: none;
    z-index: -1; /* Set z-index lower than other elements */


    position: fixed;

    background-size: cover;
    background-position: center;
}



@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(5px, 30px);

    }
    100% {
        transform: translate(0, 0);
    }
}

/*//============*//*//============*//*//============*/






*{
    margin: 0;
    padding: 0;
}

body{
    /*background-image: url(background.jpg);*/
    /*background-size: cover;*/
}
div {
    display: block;
}

/*Navbar CSS*/

.navbar{
    /*background-color: #8B74AB;*/
    /*background-color: #5179AB;*/
    /*background-color: #7D86AD;*/
    padding: 15px;

}


/**{*/
/*    outline: 1px dashed black*/
/*}*/



.navigation-list li,.navigation-list a,.navigation-list button{
    padding: 3px;
    margin: 5px;
}

.navbar-brand{
    color: #412A55;
    font-family: 'Darumadrop One', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: bolder;
}


.navbar-brand {
    position: relative;
    overflow: hidden;
}

.navbar-brand::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.navbar-brand:hover::before {
    transform: scale(1);
}





.navigation-list li a,.navigation-list li button,.navigation-list li p{
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: bold;
}
.navigation-list li a:hover{
    color: #412A55;
}
.login-btn:hover, .register-btn:hover{
    background-color: #412A55;
}
.card{
    /*background: #8489d3;*/
    /*border-color: #6a84ff;*/
    /*opacity: 0.8;*/
    /*box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);*/
    background: transparent;
    border: none
}

.card-body{
    padding: 0px;
}

.card-body h2{
    padding-top: 20px;
    color: #412A55;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
}
.card-body h1{
    padding-top: 90px;
    color: #412A55;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #412A55 !important;
    border-color: #7D86AD;
    text-decoration: none;
}
.container{
    padding-bottom: 40px;
}
.blog-content {
    max-width: 1120px;
    margin: 10px auto 50px;
    z-index: 20;
}
article {
    width: 100%;
    margin: 0px 0px 25px;
    color: black;
    border: 10px solid transparent;
    padding: 15px 30px 30px;
    border-radius: 10px;
    border-image-slice: 33%;
    background-color: #7D86AD;
    display: inline-block;
}
.user-info h1 {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #412A55;
}
.post-info {
    float: left;
    font-size: 1em;
    margin-top: 0;
    margin-left: 0;
}
.post-date, .author{
    color: #412A55;
    font-weight: 700;
}
.blog-content .post-content {
    display: table;
    min-width: 100%;
    padding-top: 25px;
}
.dropdown-menu{
    background-color: #7D86AD;
}
.dropdown-toggle,.my-profile,.logout-btn{
    color: #DDE0EA;
}
.dropdown-toggle:hover, .my-profile:hover,.logout-btn:hover{
    color: #412A55;

}



/*Footer CSS*/

.footer-header{
    color: #412A55;
}
footer{
    background: linear-gradient(181deg, rgba(137,206,221,0) 0%, rgba(179,206,252,1) 45%);
}


/*Donation CSS*/
.donate-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.donate-text{
    align-items: center;
    color:antiquewhite ;
}
.form{
    background-color: white;
}
.radio {
    background: black;
    padding: 4px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 3px rgba(98, 79, 222, 0.3),
    0 0 0 3px rgba(64, 84, 196, 0.3);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.radio input {
    width: 50%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px 8px;
    background: white;
    color: black;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: all 100ms linear;

}

.radio input:checked {
    background-image: linear-gradient(180deg, #7D86AD, #7D86AD);
    color: #fff;
    box-shadow: 0 1px 1px #0000002e;
    text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
}
.btn-donate{
    background-color: #7D86AD;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.doctor-info{
    color: #412A55;
    font-size: 24px;
}
.doctor-info-label{
    color: black;
    font-size: 22px;
}
.sidebar{
    background-color: #160e2e;
    opacity: 0.9;
}

.sidebar li a{
    color: white;
    font-weight: bolder;
}
.profile-div{
    background-color: #d5daec;
    opacity: 0.85;
}


















.calendar {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
}

.table {
    border: none;
    border-collapse: separate;
}

.table thead th {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.table td {
    border: none;
    padding: 0;
}

.time-slot {
    font-weight: bold;
    color: #333;
    padding: 8px;
}

.cell-wrapper {
    position: relative;
    padding: 8px;
}

.btn {
    width: 100%;
    margin: 0;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn-reservation {
    /*width: 100%;*/
    margin: 0;
    padding: 8px;
    /*font-size: 14px;*/
    border-radius: 4px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;

}


.cell-available {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.cell-available:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.cell-occupied {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    cursor: not-allowed;
}

.btn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}







/**{*/
/*    outline: 1px dashed red;*/
/*}*/






.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.doctorlist{

    width: 100%;

}

.doctorlist img{
    width: 100px;
    height: 100px;
}
.btn-reservation-detail{
    margin: 0;
    padding: 8px;
    /*font-size: 14px;*/
    border-radius: 4px;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: #412A55!important;
    color: white;
}