<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Speelgoedokter</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-NEMT0BvO3W+e8bVTl/U23lSsgbQ/x4W1+8g4JocX9OVDmDTb6TVsP6kQ2+I7m6hZ1vK8dD+Gbt6PXeX9Gq25vA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="container mt-5">
    <h1>Welkom bij de Speelgoedokter!</h1>
    <p>Onze deskundige dokters staan klaar om uw speelgoed te repareren.</p>
    <button type="button" class="btn btn-primary btn-lg d-block mx-auto my-5">Maak een afspraak</button>
</div>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js" integrity="sha512-4ZFnCzONW8TlTQkkbKLlJyTiaA4b4fj1YdFJKD93lcG+yZT9PKXzbb+0LR0JPhcBxrfrt1j+OYIgNlq3ihHl2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
