<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    Bootstrap CSS Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!--    Bootstrap JS Link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
<!--    CSS Link-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
<!--    Google Fonts Link of Navbar-Brand -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
<!--Font Awesome Link    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>appointment</title>
    <!-- Bootstrap CSS -->
</head>
<body>

<div th:replace="~{fragments/navbar :: header}">Hier komt de navbar</div>





<th:block th:if="${loginName == 'NOBODY'}">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Welkom bij de Speelgoedokter!!!</h1>
        <p class="lead">Onze deskundige dokters staan klaar om uw speelgoed te repareren.</p>
        <p class="lead">U kunt hieronder een afspraak maken.</p>
        <form th:action="@{/create-appointment}" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName" class="form-label">Voornaam</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Voornaam" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName" class="form-label">Achternaam</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Achternaam" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="phone" class="form-label">Telefoonnummer</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Telefoonnummer" required>
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="card text-center mb-5">
                    <div class="card-body">
                        <h4 class="card-title">Datum en tijd</h4>
                        <p class="card-text lead mb-0" th:text="${date}" style="color: white; font-weight: bold;"></p>
                        <p class="card-text lead mb-0" th:text="${#strings.concat(hour, ':00')}" style="color: white; font-weight: bold;"></p>
                        <input type="hidden" name="date" th:value="${date}"/>
                        <input type="hidden" name="hour" th:value="${hour}"/>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg mt-4">Maak afspraak</button>
            </div>
        </form>
    </div>
</th:block>

<th:block th:if="${loginName != 'NOBODY'}">
<div class="container mt-5">
<form th:action="@{/create-appointment}" th:object="${client}" method="post">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName" class="form-label">Voornaam</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Voornaam" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName" class="form-label">Achternaam</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Achternaam" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="phone" class="form-label">Telefoonnummer</label>
            <input type="tel" class="form-control" id="phone" th:field="*{phone}" placeholder="Telefoonnummer" required>
        </div>
    </div>
    <div class="col-md-6 offset-md-3">
        <div class="card text-center mb-5">
            <div class="card-body">
                <h4 class="card-title">Datum en tijd</h4>
                <p class="card-text lead mb-0" th:text="${date}" style="color: white; font-weight: bold;"></p>
                <p class="card-text lead mb-0" th:text="${#strings.concat(hour, ':00')}" style="color: white; font-weight: bold;"></p>
                <input type="hidden" name="date" th:value="${date}"/>
                <input type="hidden" name="hour" th:value="${hour}"/>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg mt-4">Maak afspraak</button>
    </div>
</form>
</div>
</th:block>



<style>
    .datetime-display {
        background: black;
        color: white;
        font-weight: bolder;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 24px;
    }
</style>




<div th:replace="~{fragments/footer :: footer}"></div>
<!-- Bootstrap JS -->
</body>
</html>
