<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"><head>
    <meta charset="UTF-8">
    <!--    Bootstrap CSS Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--    Bootstrap JS Link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <!--    CSS Link-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <!--    Google Fonts Link of Navbar-Brand -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <!--Font Awesome Link    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Manage appointment</title>
    <!-- Bootstrap CSS -->
</head>
<body>

<div th:replace="~{fragments/navbar :: header}">Hier komt de navbar</div>




<div class="container">
    <h1 class="my-4">Appointment Details</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Appointment Information</h5>
            <p class="card-text">Date: <span th:text="${appointment.date}"></span></p>
            <p class="card-text">Time: <span th:text="${appointment.time}"></span></p>
            <p class="card-text">Client: <span th:text="${appointment.client.firstName}"></span> <span th:text="${appointment.client.lastName}"></span></p>
            <p class="card-text">Doctor: <span th:text="${appointment.doctor.firstName}"></span> <span th:text="${appointment.doctor.lastName}"></span></p>

            <a class="btn btn-danger mt-3"
               role="button" data-bs-toggle="modal" data-bs-target="#deleteAppointment">Cancel Appointment</a>

            <div class="modal fade" id="deleteAppointment" tabindex="999999"  aria-labelledby="deleteLabel" aria-hidden="true" data-bs-backdrop="false">
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteLabel">Cancel Your Appointment</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="align-items-center justify-content-center text-align-center" method="post"  th:action="@{'/dashboard/profile/' + ${appUser.id} + '/delete'}"  >
                                <h4>Are you sure you want to cancel your appointment?</h4>
                                <div class="modal-footer mx-auto">
                                    <button type="button" class="btn close-btn btn-secondary me-3" data-bs-dismiss="modal">Close</button>
                                    <a  type="submit"   class="btn btn-danger close-btn" th:href="@{/appointment/cancel/{appointmentId}(appointmentId=${appointment.id})}">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <a  class="btn btn-primary mt-3" th:if="${not appointment.confirmed}" th:href="@{/appointment/confirm/{appointmentId}(appointmentId=${appointment.id})}" role="button">Confirm Appointment</a>
            <span th:if="${appointment != null}">
                    <span th:if="${appointment.confirmed}" class="text-success">Confirmed</span>
                    <span th:unless="${appointment.confirmed}" class="text-danger">Not Confirmed Yet</span>
            </span>
        </div>
    </div>
</div>





<div th:replace="~{fragments/footer :: footer}"></div>
<!-- Bootstrap JS -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/JS/toys.js"></script>


<script th:src="@{/webjars/bootstrap/5.4.1/js/bootstrap.bundle.min.js}"></script>
<script src="/JS/toys.js"></script>
</body>
</html>
