<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <!--    Bootstrap CSS Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--    Bootstrap JS Link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <!--    CSS Link-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <!--    Google Fonts Link of Navbar-Brand -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <!--Font Awesome Link    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Repair blog</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: header}">Hier komt de navbar</div>

<div class="blog">
<div class="container-fluid mt-3" id="post">
    <div class="row justify-content-center">
        <div class="card-body text-center mb-3">
            <h1>The Doctor repair blog</h1>
            <p>Here you can find all the repairs that the doctors have done<br>To see the after pictures, please open the individual blog
        </div>

        <!-- Button -->
        <div class="center-button m-5">
            <a class="btn" id="myId" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
            <span><i class="fa-solid fa-filter fa-flip fa-2xl"></i></span></a>
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <form>
                    <h2>Filters</h2>
                    <div class="mt-3">
                        <label for="select-speciality" class="form-label">Speciality</label>
                        <select id="select-speciality" class="custom-select form-control" th:name="speciality">
                            <option selected disabled>Any</option>
                            <option value="Cuddly toys">Cuddly toys</option>
                            <option value="Cars">Cars</option>
                            <option value="Action Figures">Action Figures</option>
                            <option value="Wooden toy">Wooden toy</option>
                            <option value="Board games">Board games</option>
                        </select>
                    </div>
                    <div>
                        <input type="submit" value="Search" class="btn btn-donate mt-4 btn-lg btn-block">
                    </div>
                </form>
            </div>
        </div>

        <div class="card col-xl-4 col-lg-5 col-sm-12 m-xl-3 m-lg-1 mb-sm-2" th:each="post : ${posts}" >
               <div class="wrapper m-2">
                   <div class="like-icon">

                        <div class="user-info">

                           <h2><a th:href="@{'/postdetail/' + ${post.id}}"
                                  th:text="${post.title}">Title</a></h2>
                           <div class="post-info">
                                  <span th:text="'Published on ' + ${post.date}"> Created At</span>
                           </div>
                        </div>

                        <div class="post-content">
                          <p th:text="'Introduction: ' + ${post.intro}"> intro text</p>
                          <h3 style="font-size: 22px">Before:</h3>
                          <img th:src="${post.beforeUrl}" alt="before picture" width="200" height="230"
                          class="align-items-center justify-content-center text-center">
                        </div>

                        <div class="like mt-3">
                           <input type="hidden" name="uploadId" th:value="${post.id}" />
                           <button class="btn btn-primary like-btn" th:classappend="${post.likedByCurrentAppUser} ? 'liked' : ''" th:data-upload-id="${post.id}">
                               <span class="like-count" th:text="${post.likeCount}">0</span>
                               <i class="far fa-heart"></i>
                           </button>
                        </div>
                   </div>
               </div>
          </div>
    </div>
</div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/JS/toys.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DZDTTXJS6F"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DZDTTXJS6F');
</script>

</div>
</body>
</html>