<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--    Bootstrap CSS Link-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!--    Bootstrap JS Link-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
  <!--    CSS Link-->
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
  <!--    Google Fonts Link of Navbar-Brand -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
  <!--Font Awesome Link    -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>New Post</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: header}">Hier komt de navbar</div>
<div class="container">
  <a th:href="@{/}">Home</a>

  <h2>Write new Post</h2>
  <form action="#" th:action="@{'/posts/new'}" th:object="${post}" method="post">
    <div>
      <label for="new-post-title">Title</label>
      <input id="new-post-title" type="text" th:field="*{title}" placeholder="Title"/>
    </div>
    <div>
      <label for="new-post-body">Body</label>
      <input id="new-post-body" type="text" th:field="*{body}" placeholder="Body"/>
    </div>
    <a th:href="@{/post-home}"><button type="submit">Publish Post</button></a>
  </form>
</div>

</body>
</html>